<mat-card class="container-card">
  <mat-card-header>
    <mat-card-title class="card-h">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          name="username"
          placeholder="Enter your username"
          [(ngModel)]="username"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          placeholder="Enter your password"
          [(ngModel)]="password"
        />
      </mat-form-field>

      <mat-card-actions>
        <button
          mat-flat-button
          color="primary"
          class="btn-login"
          (click)="handleJWTAuthLogin()"
        >
          Login
        </button>
        <button mat-flat-button color="primary" routerLink="/signup">
          Sign Up
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>

  <div class="alert alert-warning" *ngIf="invalidLogin">{{ errorMessage }}</div>
</mat-card>
